<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TypeFont</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/utils.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/"><p class="lg-logo" id="animation">TypeFont</p></a>
        </div>
        <div class="searchWrapper">
            <div class="search">
                <input type="search" name="search" id="search" placeholder="Search for your Favorite font">
                <button id="searchBtn">Search</button>
            </div>
        </div>
        <div class="external-links">
            <a href="https://github.com/thenexify" target="_blank" class="link-ex">Nexify</a>
            <a href="#" class="link-ex">Log In</a>
        </div>
    </nav>

    <nav class="sidebar">
        <div class="sidebar-icons">
            <div class="icon">
                <a href="/c/Cinematic" class="link" name="lolo">
                    <img src="/static/img/cinematic.png" title="Cinematic" height="35" width="35" name="lolo">
                </a>
            </div>
            <div class="icon">
                <a href="/c/Classic" class="link">
                    <img src="/static/img/classic.png" title="Classic" height="35" width="35" name="">
                </a>
            </div>
            <div class="icon">
                <a href="/c/Sci-Fi" class="link">
                    <img src="/static/img/fire.png" title="Sci-Fi" height="35" width="35" name="">
                </a>
            </div>
            <div class="icon">
                <a href="/c/Code" class="link">
                    <img src="/static/img/code.png" title="Code" height="35" width="35" name="">
                </a>
            </div>
            <div class="icon">
                <a href="/c/Cursive" class="link">
                    <img src="/static/img/cursive.png" title="Cursive" height="35" width="35" name="">
                </a>
            </div>
            <div class="icon">
                <a href="/c/Concept" class="link">
                    <img src="/static/img/concept.png" title="Concept" height="35" width="35" name="">
                </a>
            </div>
        </div>
    </nav>
    {{{body}}}
    <script src="/static/js/index.js"></script>
</body>
</html>