<section class="main">
    <div class="center">
        <p class="lg-2">Attributions</p>
    </div>
    <div class="flex-col">
        <p><a href="https://fonts.google.com">GoogleFonts</a></p>
        <p><a href="https://icons8.com">Icons8</a></p>
        <p><a href="https://dafonts.com">DaFont</a></p>
    </div>
</section>