<section class="intro-banner-custom">
    <img src="{{this.bannerImg}}" alt="{{this.name}}">
</section>
<section class="fonts-view">
    <div class="main-control-preview">
        <input type="text" placeholder="preview">
    </div>
    <div class="fonts-preview-all">
        {{#each font}}
            <div class="font">
                <p class="text-small">Inter 800</p>
                <p class="text-preview">{{previewText}}</p>
            </div>
        {{/each}}
    </div>
</section>